session:
  lifespan: 720h # 30 days
  cookie:
    name: ory_kratos_session_test

identity:
  default_schema_id: default
  schemas:
    - id: default
      url: file:///etc/config/kratos/identity.schema.json

serve:
  public:
    base_url: http://localhost:6545
  admin:
    base_url: http://kratos-test:4434

selfservice:
  default_browser_return_url: http://localhost:3001
  allowed_return_urls:
    - http://localhost:3001/
    - http://localhost:3001/auth/hydra/

  flows:
    login:
      ui_url: http://localhost:3001/auth/login
    registration:
      ui_url: http://localhost:3001/auth/registration
      after:
        password:
          hooks:
            - hook: show_verification_ui
            - hook: session
    settings:
      ui_url: http://localhost:3001/settings
    recovery:
      enabled: true
      ui_url: http://localhost:3001/auth/recovery
      after:
        hooks:
          - hook: revoke_active_sessions
    verification:
      enabled: true
      ui_url: http://localhost:3001/auth/verification

  methods:
    password:
      enabled: true
    link:
      enabled: true
    code:
      enabled: true
    oidc:
      enabled: false

log:
  level: info
  format: json
