session:
  lifespan: 720h # 30 days
  cookie:
    name: ory_kratos_session

identity:
  default_schema_id: default
  schemas:
    - id: default
      url: file:///etc/config/kratos/identity.schema.json

serve:
  public:
    base_url: http://localhost:5545
  admin:
    base_url: http://kratos:4434

selfservice:
  default_browser_return_url: http://127.0.0.1:3000/
  allowed_return_urls:
    - http://127.0.0.1:3000/
    - http://127.0.0.1:3000/auth/hydra/login

  flows:
    login:
      ui_url: http://localhost:3000/auth/login
    registration:
      ui_url: http://localhost:3000/auth/registration
      after:
        password:
          hooks:
            - hook: show_verification_ui
            - hook: session
    settings:
      ui_url: http://localhost:3000/settings
    recovery:
      enabled: true
      ui_url: http://localhost:3000/auth/recovery
      after:
        hooks:
          - hook: revoke_active_sessions
    verification:
      enabled: true
      ui_url: http://localhost:3000/auth/verification

  methods:
    password:
      enabled: true
    link:
      enabled: true
    code:
      enabled: true
    oidc:
      enabled: true
      config:
        base_redirect_uri: http://localhost:3000/
        providers:
          - id: google
            provider: google
            client_id: ${GOOGLE_OAUTH_CLIENT_ID}
            client_secret: ${GOOGLE_OAUTH_CLIENT_SECRET}

            issuer_url: https://accounts.google.com
            token_url: https://oauth2.googleapis.com/token
            auth_url: https://accounts.google.com/o/oauth2/v2/auth

            mapper_url: file:///etc/config/kratos/oidc.google.jsonnet
            scope:
              - openid
              - email
              - profile


##       config:
##         base_redirect_uri: https://auth.myexample.org/
##         providers:
##           - id: google
##             provider: google
##             label: ""
##             client_id: ""
##             client_secret: ""
##             issuer_url: https://accounts.google.com
##             auth_url: https://accounts.google.com/o/oauth2/v2/auth
##             token_url: https://www.googleapis.com/oauth2/v4/token
##             mapper_url: file://path/to/oidc.jsonnet
##             scope:
##               - offline_access
##             microsoft_tenant: common
##             subject_source: userinfo
##             apple_team_id: KP76DQS54M
##             apple_private_key_id: UX56C66723
##             apple_private_key: |-
##               -----BEGIN PRIVATE KEY-----
##               ........
##               -----END PRIVATE KEY-----
##             requested_claims:
##               id_token:
##                 email: null
##                 email_verified: null
##             organization_id: 12345678-1234-1234-1234-123456789012
##             additional_id_token_audiences:
##               - 12345678-1234-1234-1234-123456789012
##             claims_source: id_token
##             pkce: auto
##             fedcm_config_url: https://example.com/config.json
##             net_id_token_origin_header: https://example.com

courier:
  smtp:
    connection_uri: smtps://mailslurper:1025/?skip_ssl_verify=true
    from_address: no-reply@mailslurper.local
    from_name: World Game

log:
  level: debug
